<div class="pagify">
    <h1>Editing category <%= @category.name %></h1>

    <div id="main">
        <%= render 'form_errors' %>

        <%= form_for(@category, :url => category_path(@category), :as => :category) do |f| %>
          <h3>Category Details</h3>

          <div class="field">
              <%= f.label :name %>: <%= f.object.name %>
              <%= f.hidden_field :name %>
          </div>
          <div class="field">
              <%= f.label :title%><br>
              <%= f.text_field :title, :size => 10 %>
          </div>
          <div class="field">
              <%= f.label :description%><br>
              <%= f.text_field :description, :size => 30 %>
          </div>


          <hr>
          <h3>Pages</h3>
          <table>
              <tbody>
                <%= f.fields_for :categorizations do |builder| %>
                      <tr>
                        <td><%= builder.hidden_field(:page_id) %><%= builder.text_field :position, :size => 1 %></td>
                        <td><%= link_to builder.object.page.name, edit_page_path(builder.object.page.name) %></td>
                        <td><%= link_to "remove", category_page_path(@category, builder.object.page.name), :method => :delete %></td>
                        <%#= builder.check_box :_destroy %>
                        <%#= builder.label :_destroy, "Remove Page" %>
                      </tr>
                <% end %>
              </tbody>
          </table>
          <br>
          <hr>

          <div class="actions">
              <%= f.submit %>
          </div>
        <% end %>
    </div>

    <div id="context">
        <ul>
            <li><%= link_to 'back', pagify_get_stored_location(nil, true) %></li>
            <li><%= link_to 'add Pages', add_category_pages_path(@category) %></li>
            <li><%= link_to 'remove Pages', remove_category_pages_path(@category) %></li>
        </ul>
    </div>
</div>