<div class="pagify">
    <h1>Listing categories</h1>

    <div id="main">
        <table>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <% @categories.each do |category| %>
              <tr>
                  <td><%= category.name %></td>
                  <td><%= link_to 'Show', category %></td>
                  <td><%= link_to 'Edit', edit_pagify_category_path(category) %></td>
                  <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
              </tr>
            <% end %>
        </table>
    </div>

    <div id="context">
        <ul>
            <li><%= link_to 'new Category', new_pagify_category_path %></li>
        </ul>
    </div>
</div>