<%= form_for(@pagify_categorization) do |f| %>
  <% if @pagify_categorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagify_categorization.errors.count, "error") %> prohibited this pagify_categorization from being saved:</h2>

      <ul>
      <% @pagify_categorization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br />
      <%= collection_select(:pagify_categorization, :category_id, Pagify::Config.category_model.constantize.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :page_id %><br />
    <%= collection_select(:pagify_categorization, :page_id, Pagify::Config.page_model.constantize.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
