<div class="pagify">

    <div id="main">
        <p id="notice"><%= notice %></p>

        <p>
            <b>Page:</b>
            <%= @pagify_categorization.page_id %>
        </p>

        <p>
            <b>Category:</b>
            <%= @pagify_categorization.category_id %>
        </p>

        <p>
            <b>Position:</b>
            <%= @pagify_categorization.position %>
        </p>
    </div>

    <div id="context">
        <ul>
            <li>link_to 'Edit', edit_pagify_categorization_path(@pagify_categorization)</li>
            <li>link_to 'back', pagify_categorizations_path</li>
            <li><%= link_to_function "back in history", "history.back()" %></li>
        </ul>
    </div>
</div>