<p id="notice"><%= notice %></p>

<p>
  <b>Page:</b>
  <%= @pagify_categorization.page_id %>
</p>

<p>
  <b>Category:</b>
  <%= @pagify_categorization.category_id %>
</p>

<p>
  <b>Position:</b>
  <%= @pagify_categorization.position %>
</p>


<%= link_to 'Edit', edit_pagify_categorization_path(@pagify_categorization) %> |
<%= link_to 'Back', pagify_categorizations_path %> |
<%= link_to_function "Back2", "history.back()" %>
