<div class="pagify">
    <h1>add categories to page <%= @page.name %></h1>

    <div id="main">
        <%= render 'form_errors' %>

        <%= form_for(@page, :url => add_page_categories_path(@page), :as => :page) do |f| %>
          <%= render :partial => 'page_categories', :locals => {:select_current => false}%>
          <hr>
          <div class="actions">
              <%= f.submit "Save" %>
          </div>
        <% end %>
    </div>

    <div id="context">
        <ul>
            <li><%= link_to 'back', pagify_get_stored_location(nil, true) %></li>
        </ul>
    </div>
</div>