<div class="pagify">
    <h1>Edit Page <%= @page.name %></h1>

    <div id="main">
        <%= render 'form_errors' %>

        <%= form_for(@page, :url => page_path(@page), :as => :page) do |f| %>
          <h3>Page Details</h3>

          <div class="field">
              <%= f.label :name %>: <%= f.object.name %>
              <%= f.hidden_field :name %>
          </div>
          <div class="field">
              <%= f.label :title %>: <%= f.object.title %>
              <%#= f.hidden_field :title %>
          </div>

          <h3>categories</h3>
          <%= render :partial => 'page_categories', :locals => {:select_current => true}%>
          <hr>

          <div class="actions">
              <%= f.submit %>
          </div>
        <% end %>
    </div>

    <div id="context">
        <ul>
            <li><%= link_to 'show page', page_path(@page)%></li>
            <li><%= link_to 'modify content', modify_page_path(@page)%></li>
            <li><%= link_to 'edit categories', edit_page_categories_path(@page)%></li>
            <li><%= link_to 'add categories', add_page_categories_path(@page)%></li>
            <li><%= link_to 'remove categories', remove_page_categories_path(@page)%></li>
            <li><%= link_to 'back', pagify_get_stored_location(nil, true) %></li>
        </ul>
    </div>
</div>