<section id="pagify-pages">
  <h1>New Page</h1>

  <div id="main">
    <%=render 'form_errors' %>
    <%= form_for @page do |f|  %>
            <%= f.text_field :name%>
            <%= f.submit 'Create Page'%>
    <% end %>
  </div>

  <div id="context">
      <ul>
          <li><%= link_to 'Back', :back%></li>
      </ul>
  </div>
</section>